
:root{
    background-color: #40407a;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.recuadro-juego{
    border: solid ;
    border-radius: 20px;
    padding: 30px;
    background-color: #2c2c54;
}

h1{
    text-align: center;
    color:#aaa69d ;
    
}

.btn-pista{
    border-radius: 20px;
    font-size: medium;
    background-color: #706fd3;
    color:black ;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;

}
